body {
    background-color: lightgrey;
    width: 50vw;
    margin-left: 25vw;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    align-items: center;
    box-shadow: 0px 1px 10px black;
    padding-top: 60px;
    padding-bottom: 60px;
}

.square {
    display: flex;
    flex-wrap: wrap;
    float: left;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30%;
    font-weight: bold;
    font-size: 3rem;
    box-shadow: 0px 15px 10px black;
}

.inputs {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

input, button {
    border-radius: 5px;
    padding: 5px;
}

input {
    text-align: center;
    border: none;
    background-color: rgb(165, 163, 163);
    font-weight: bold;
}

input[type=text]:focus {
    background-color: lightgrey;
    transition: 0.4s;
}

button {
    border: 2px solid black;
}

#startBtn {
    background-color: rgb(145, 170, 106);
}

#startBtn:hover {
    transition: 0.4s;
    background-color: rgb(129, 151, 93);;
}

#restartBtn {
    background-color: rgb(194, 100, 100);
}

#restartBtn:hover {
    transition: 0.4s;
    background-color: rgb(175, 88, 88);
}

#messageContainer {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}